<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3 fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/" fragment="welcome">@tetianakh</a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse justify-content-center"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            fragment="resume"
            (click)="isMenuCollapsed = true"
            >Resume</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            fragment="projects"
            (click)="isMenuCollapsed = true"
            >Pet Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            fragment="contact"
            (click)="isMenuCollapsed = true"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
