<div class="card">
  <div class="card-body">
    <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div>
    <form [formGroup]="authForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>

      <button class="btn btn-outline-primary float-right" type="submit">
        Login
      </button>
    </form>
  </div>
</div>
