<div class="card my-5 bg-white text-dark">
  <div class="card-header">
    <h2>{{ post.title }}</h2>
    <div class="d-flex">
      <div class="mr-auto">
        {{ post.timestamp | date: "medium" }} |
        <span [style.color]="post.published ? 'green' : 'red'">{{
          post.published ? "published" : "draft"
        }}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ postBody | shorten: 200 }}</p>
    <a [routerLink]="[post.id]" class="stretched-link">Read more</a>
  </div>
</div>
