<section id="projects">
  <div class="bg-light py-5">
    <div class="container">
      <h2 class="display-2 text-secondary text-center py-3">
        Personal Projects
      </h2>
    </div>
  </div>
  <div class="bg-secondary py-5">
    <div class="container">
      <div class="col-sm-6 offset-sm-3">
        <div class="card bg-white text-dark">
          <div class="card-header">
            <h5 class="card-title">
              Vampiric Tutor
            </h5>
            <h6 class="card-subtitle">
              <a href="http://vampirictutor.com/" target="_blank"
                >vampirictutor.com</a
              >
            </h6>
          </div>
          <div class="card-body">
            <p class="card-text">
              A web app which helps you find the best Magic: The Gathering deals
              on
              <a href="https://www.cardmarket.com/en/" target="_blank"
                >cardmarket.eu</a
              >
            </p>
            <p class="card-text">
              The back end is implemented in Python. It uses Flask as a web app
              framework, Celery for async tasks, PostgreSQL as a database, and
              Redis as a cache. The front end is written in Vue.js and uses
              bootstrap-vue for the styling.
            </p>
            <p>
              The app is hosted on Heroku.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
