<section id="welcome" class="py-5">
  <div class="primary-overlay text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h1 class="display-2 mt-5 pt-5">Welcome</h1>
          <p class="lead">
            My name is Tetiana Khotiaintseva, I am a full stack software
            engineer at Google based in Warsaw, Poland.
          </p>
          <p>This page is currently a work in progress.</p>
          <button
            class="btn btn-secondary btn-lg text-white"
            (click)="scrollToResume()"
          >
            See Resume
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
