<section id="contact" class="bg-light py-5">
  <div class="container">
    <h2 class="display-2 text-primary text-center py-3">Contact</h2>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="row">
          <div class="col-sm-6 pt-1 text-center">
            <a
              href="https://www.linkedin.com/in/tetiana-khotiaintseva/"
              target="_blank"
            >
              <img
                class="align-self-center mr-1"
                src="../../../assets/LI-In-Bug.png"
                style="width: 40px; height: 34px;"
              />
              Tetiana Khotiaintseva
            </a>
          </div>

          <div class="col-sm-6">
            <a href="https://twitter.com/quit_ka" target="_blank">
              <img
                class="align-self-center mr-1"
                src="../../../assets/Twitter_Logo_Blue.png"
                style="width: 40px; height: 40px;"
              />
              @quit_ka
            </a>
          </div>
        </div>
        <hr />
        <div class="col">
          <p>
            Please do not contact me about job offers. Currenlty I am not
            looking for new opportunities.
          </p>
          <p>
            However, I am open for volunteering, pro bono or charity projects,
            such as creating an app or a page for a nonprofit organization or an
            educational institution. I am also open for fun side projects. So if
            you need a help of a web developer, feel free to reach out to me on
            social media!
          </p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
