<section id="resume" class="bg-light py-5 text-primary">
  <div class="container">
    <h2 class="display-2 mt-5 pt-5 text-center">Resume</h2>
  </div>
</section>

<section class="bg-primary py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="display-4 text-white py-3 text-center">
          Employment history
        </h3>
        <!-- Google SWE -->
        <app-resume-card
          title="Software Engineer at Google"
          timeRange="May 2020 - present"
        >
          <p>
            I work on the Google Cloud Console, which is the UI for Google Cloud
            Platform, and I build UI for
            <a href="https://cloud.google.com/kubernetes-engine"
              >Google Kubernetes Engine</a
            >
            and
            <a href="https://cloud.google.com/anthos" target="_blank">Anthos</a>
            (Angular, Typescript, Java).
          </p>
        </app-resume-card>

        <!-- Google TSE -->
        <app-resume-card
          title="Technical Solutions Engineer at Google"
          timeRange="August 2020 - May 2020"
        >
          <p>
            I supported Google Cloud Platform infrastructure product, mainly
            <a href="https://cloud.google.com/kubernetes-engine"
              >Google Kubernetes Engine</a
            >
            and
            <a href="https://cloud.google.com/compute" target="_blank"
              >Google Compute Engine</a
            >.
          </p>
          <p>
            I also worked on supportability of SAP deployments on Google Cloud
            Platform.
          </p>
        </app-resume-card>

        <!-- Allegro -->
        <app-resume-card
          title="Software Engineer at Allegro"
          timeRange="August 2017-July 2019"
        >
          <p>
            Built a "backend for frontend" which unified API for web and mobile
            applications (Kotlin, Spring Boot)
          </p>
          <p>
            Converted a data analysis pipeline into a full-fledged application
            -- rewrote and redesigned backend (Scala, Spring Boot), created
            frontend (Vue.js).
          </p>
          <p>
            Developed and maintained internal monitoring tools (Python,
            AngularJS, Vue.js).
          </p>
        </app-resume-card>

        <!-- Ardigen -->
        <app-resume-card
          title="Software Engineer at Ardigen S.A."
          timeRange="September 2016 - August 2017"
        >
          <p>
            Developed distributed solutions for analysis of biological data for
            life science and pharmaceutical industries. Created resilient and
            scalable data analysis pipelines, refactoring and optimizing
            performance of legacy code (Python, Perl, Dlang, Ansible).
          </p>
          <p>
            Responsible for configuration and maintenance of internal CI server
            (Jenkins).
          </p>
        </app-resume-card>

        <app-resume-card
          title="Junior Software Engineer at Pragmatic Coders"
          timeRange="September 2015 - September 2016"
        >
          <p>
            Developed microservices-based e-commerce application for unified
            management of messages between buyers and sellers, integrating with
            APIs of eBay.com and Amazon.com (Python, MongoDB, MySQL).
          </p>
          <p>
            As a part of agile team, was responsible for designing and
            implementing new features, writing unit and integration tests.
          </p>
        </app-resume-card>
      </div>
    </div>
  </div>
</section>
