<section id="resume" class="bg-light py-5 text-primary">
  <div class="container">
    <h2 class="display-2 mt-5 pt-5 text-center">Resume</h2>
  </div>
</section>

<section class="bg-primary py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="display-4 text-white py-3 text-center">
          Employment history
        </h3>
        <!-- Google SWE -->
        <div class="card my-2">
          <div class="card-body text-dark">
            <h4 class="card-title">Software Engineer at Google</h4>
            <h6 class="card-subtitle">May 2020 - present</h6>
            <p class="card-text">
              I work on the Google Cloud Console, which is the UI for Google
              Cloud Platform, and I build UI for
              <a href="https://cloud.google.com/kubernetes-engine"
                >Google Kubernetes Engine</a
              >
              and
              <a href="https://cloud.google.com/anthos" target="_blank"
                >Anthos</a
              >.
            </p>
          </div>
        </div>

        <!-- Google TSE -->
        <div class="card my-2">
          <div class="card-body text-dark">
            <h4 class="card-title">Technical Solutions Engineer at Google</h4>
            <h6 class="card-subtitle">August 2020 - May 2020</h6>
            <p class="card-text">
              I supported Google Cloud Platform infrastructure product, mainly
              <a href="https://cloud.google.com/kubernetes-engine"
                >Google Kubernetes Engine</a
              >
              and
              <a href="https://cloud.google.com/compute" target="_blank"
                >Google Compute Engine</a
              >.
            </p>
            <p class="card-text">
              I also worked on supportability of SAP deployments on Google Cloud
              Platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
